.call-to-action{
	margin-top: 5vh;
	margin-bottom: 5vh;
	margin-left: 10vw;
	margin-right: 10vw;
	font-style: bold;

	h1{
		text-transform: uppercase;
		font-family: $font-h1;
	}
}

.entercode{
  .inputCode{
    height: 80px;
    font-size: 50px;
    text-align: center;
  }
  h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: $font-h1;
  }

    h1{
    text-transform: uppercase;
    font-family: $font-h1;
  }
}


.welcome .navbar{
    margin-bottom: 0px !important;
}
.navbar{
    margin-bottom: 0px !important;
}
.navbar-brand {
    padding: 0px;
}
       
.navbar-brand>img {
  	height: 100%;
    padding: 2px;
    width: auto;
}

.map{
	max-width: 100%;
	img{
		position: relative;
		max-width: 100%;
	}
}

///////BUTTON

button,submit,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
	  color: $corona-yellow;
}

button {
  background: none;
  border: 3px solid $corona-yellow;
  color: $corona-blue;
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em auto;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: $corona-yellow;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: $corona-blue;
}

.btn-3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn-3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}


.wrappertable{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;

  .table{
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
    @media screen and (max-width: 580px){
      display: block;
    }

    .row{
      display: table-row;
      background: #f6f6f6;
      &:nth-of-type(odd){
        background: #e9e9e9;
      }
      &.header{
        font-weight: 900;
        color: #ffffff;
        background: #ea6153;
      }
      &.green{
        background: #efbf55;
      }
      @media screen and (max-width: 580px){
        padding: 8px 0;
        display: block;
      }

      .cell{
      padding: 6px 12px;
      display: table-cell;
      @media screen and (max-width: 580px){
        padding: 2px 12px;
        display: block;
      }
      }
    }
  }
}

.loginpage{
  height: 95vh;
    background: url('/img/corona-drawing.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-login{
  margin-top: 50px;
}